<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'SETTINGS.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Appearence settings -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ 'SETTINGS.THEME.TITLE' | translate }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-icon name="moon" slot="start"></ion-icon>
          <ion-label>{{ 'SETTINGS.THEME.DESC' | translate }}</ion-label>
          <ion-select interface="popover" [interfaceOptions]="{ showBackdrop: true }" [value]="selectedThemeSetting()" (ionChange)="updateThemeSetting($event)">
            <ion-select-option value="0">{{ 'SETTINGS.THEME.LIGHT' | translate }}</ion-select-option>
            <ion-select-option value="1">{{ 'SETTINGS.THEME.DARK' | translate }}</ion-select-option>
            <ion-select-option value="2">{{ 'SETTINGS.THEME.SYSTEM' | translate }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Content settings -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ 'SETTINGS.CONTENT.TITLE' | translate }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-icon name="language" slot="start"></ion-icon>
          <ion-label>{{ 'SETTINGS.CONTENT.LANG' | translate }}</ion-label>
          <ion-select interface="popover" [interfaceOptions]="{ showBackdrop: true }" [value]="settings.selectedLanguageSetting" (ionChange)="setNewLanguage($event)">
            <ion-select-option *ngFor="let language of settings.supportedLanguages" [value]="language.short">{{ language.long }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
