<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'SETTINGS.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ 'SETTINGS.THEME.TITLE' | translate }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>{{ 'HOME.TITLE' | translate }}</ion-label>
          <!-- <ion-toggle [ngModel]="darkMode" (ngModelChange)="toggleDarkMode()" ></ion-toggle> -->
          <ion-toggle ></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
