<ion-app>
  <ion-menu contentId="home">
    <ion-header>
      <ion-toolbar>
        <ion-title>OSRT</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false"  *ngFor="let entry of menuEntries">
          <ion-item 
            detail="false"
            lines="none"
            [routerLink]="entry.path"
            (click)="setActiveItem(entry.path)"
            [class.selected]="entry.path == activeRoute">
            <ion-icon [name]="entry.icon" slot="start"></ion-icon>
            <ion-label>{{ entry.name | translate }}</ion-label>
          </ion-item>
          <ion-item-divider *ngIf="entry.path == 'players'" class="line-divider1"></ion-item-divider>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="home"></ion-router-outlet>
</ion-app>
