.item ion-thumbnail {
  min-width: 2rem;    
  min-height: 2rem;
  img {
      max-width: 2rem;    
      min-width: 2rem;
  }
}

h1 {
  font-size: 1.3em;
}

.stat-line {
  flex-wrap: wrap;
  display: flex;
  font-size: 0.8em;
}

.single-stat {
  margin-top: 7px;
  margin-right: 12px;
}

.flex-wrap {
  display: flex;
  align-items: center;
  
}

.flex-wrap ion-icon {
  margin-right: 5px;

}

ion-buttons {
  margin-inline-start: 0;
  margin-left: 0;
}