.item ion-thumbnail {
  min-width: 2rem;    
  min-height: 2rem;
  img {
      max-width: 2rem;    
      min-width: 2rem;
  }
}

h1 {
  font-size: 1.3em;
}

.stat-line {
  margin-top: 10px;
  font-size: 0.8em;
}

.single-stat {
  margin-right: 12px;
}