.add-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  ion-button {
    &.md {
      margin-top: 14px;
    }

    &.ios {
      margin-top: 28px;
    }
  }
}

.no-sport-added {
  margin-top: 15%;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--ion-color-step-600);
}