<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'HOME.TITLE' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleEditMode()">
        <ion-icon *ngIf="isInEditMode"  slot="icon-only" name="close-outline"></ion-icon>
        <ion-icon *ngIf="!isInEditMode" slot="icon-only" src="assets/custom-icons/edit.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="isInEditMode" class="add-button-wrapper">
    <ion-button (click)="openSportSelector()" shape="round">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </div>

  <ng-container *ngFor="let sport of sportService.supportedSports; index as i">
    <app-sport-card 
      *ngIf="enabledSports.includes(sport.short)"
      (click)="navigateToSport(sport)"
      [sport]="sport" 
      imagePath="assets/img/{{sport.short}}_1.jpg" 
      iconPath="assets/custom-icons/{{sport.short}}.svg" 
      [isInEditMode]="isInEditMode" 
      (onDeleteSport)="deleteSport(sport.short)">
    </app-sport-card>
  </ng-container>
</ion-content>
