<ion-item>
  <ion-icon name="trophy-outline" slot="start" [class.won]="won"></ion-icon>
  <ion-label>
    <h1><b>{{ points }}:{{ pointsOpponent }}</b> - {{ duration }}min</h1>
    <div class="stat-line">
      <span class="single-stat flex-wrap">
        <ion-icon name="time-outline"></ion-icon>
        {{ formattedDate }}
      </span>
      
      <span class="single-stat flex-wrap">
        <ion-icon name="person"></ion-icon>
        {{ playerName }}
      </span>
    </div>
  </ion-label>
  
  <!-- Delete button -->
  <!-- <ion-buttons slot="end">
    <ion-button color="danger">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-buttons> -->

</ion-item>