<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'PLAYERS.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of players -->
  <ion-list>
    <app-player-card *ngFor="let player of players" [name]="player.name" [games]=9 [winrate]=40 [hours_played]=2 (onDeletePlayer)="deletePlayer(player)"></app-player-card>
  </ion-list>

  <!-- Button to add a new player -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addPlayer()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
